[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/URSec/Randezvous-Compiler.git
[submodule "newlib-cygwin"]
	path = newlib-cygwin
	url = https://github.com/URSec/newlib-cygwin.git
