# Hidden configuration files
.cproject

# Launch configurations
*.launch

# Compilation results
/baseline-cjpeg-rose7-preset/
/baseline-core/
/baseline-linear_alg-mid-100x100-sp/
/baseline-loops-all-mid-10k-sp/
/baseline-nnet_test/
/baseline-parser-125k/
/baseline-radix2-big-64k/
/baseline-sha-test/
/baseline-zip-test/
/randezvous-cjpeg-rose7-preset/
/randezvous-core/
/randezvous-linear_alg-mid-100x100-sp/
/randezvous-loops-all-mid-10k-sp/
/randezvous-nnet_test/
/randezvous-parser-125k/
/randezvous-radix2-big-64k/
/randezvous-sha-test/
/randezvous-zip-test/
