# Hidden configuration files
.cproject

# Launch configurations
*.launch

# Compilation results
/baseline-aha-compress/
/baseline-aha-mont64/
/baseline-bs/
/baseline-bubblesort/
/baseline-cnt/
/baseline-compress/
/baseline-cover/
/baseline-crc/
/baseline-crc32/
/baseline-ctl-stack/
/baseline-ctl-string/
/baseline-ctl-vector/
/baseline-cubic/
/baseline-dijkstra/
/baseline-dtoa/
/baseline-duff/
/baseline-edn/
/baseline-expint/
/baseline-fac/
/baseline-fasta/
/baseline-fdct/
/baseline-fibcall/
/baseline-fir/
/baseline-frac/
/baseline-huffbench/
/baseline-insertsort/
/baseline-janne_complex/
/baseline-jfdctint/
/baseline-lcdnum/
/baseline-levenshtein/
/baseline-ludcmp/
/baseline-matmult-float/
/baseline-matmult-int/
/baseline-mergesort/
/baseline-miniz/
/baseline-minver/
/baseline-nbody/
/baseline-ndes/
/baseline-nettle-aes/
/baseline-nettle-arcfour/
/baseline-nettle-cast128/
/baseline-nettle-des/
/baseline-nettle-md5/
/baseline-nettle-sha256/
/baseline-newlib-exp/
/baseline-newlib-log/
/baseline-newlib-mod/
/baseline-newlib-sqrt/
/baseline-ns/
/baseline-nsichneu/
/baseline-picojpeg/
/baseline-prime/
/baseline-qrduino/
/baseline-qsort/
/baseline-qurt/
/baseline-recursion/
/baseline-rijndael/
/baseline-select/
/baseline-sglib-arraybinsearch/
/baseline-sglib-arrayheapsort/
/baseline-sglib-arrayquicksort/
/baseline-sglib-dllist/
/baseline-sglib-hashtable/
/baseline-sglib-listinsertsort/
/baseline-sglib-listsort/
/baseline-sglib-queue/
/baseline-sglib-rbtree/
/baseline-slre/
/baseline-sqrt/
/baseline-st/
/baseline-statemate/
/baseline-stb_perlin/
/baseline-stringsearch1/
/baseline-strstr/
/baseline-tarai/
/baseline-trio-snprintf/
/baseline-trio-sscanf/
/baseline-ud/
/baseline-whetstone/
/baseline-wikisort/
/baseline-sram-aha-compress/
/baseline-sram-aha-mont64/
/baseline-sram-bs/
/baseline-sram-bubblesort/
/baseline-sram-cnt/
/baseline-sram-compress/
/baseline-sram-cover/
/baseline-sram-crc/
/baseline-sram-crc32/
/baseline-sram-ctl-stack/
/baseline-sram-ctl-string/
/baseline-sram-ctl-vector/
/baseline-sram-cubic/
/baseline-sram-dijkstra/
/baseline-sram-dtoa/
/baseline-sram-duff/
/baseline-sram-edn/
/baseline-sram-expint/
/baseline-sram-fac/
/baseline-sram-fasta/
/baseline-sram-fdct/
/baseline-sram-fibcall/
/baseline-sram-fir/
/baseline-sram-frac/
/baseline-sram-huffbench/
/baseline-sram-insertsort/
/baseline-sram-janne_complex/
/baseline-sram-jfdctint/
/baseline-sram-lcdnum/
/baseline-sram-levenshtein/
/baseline-sram-ludcmp/
/baseline-sram-matmult-float/
/baseline-sram-matmult-int/
/baseline-sram-mergesort/
/baseline-sram-miniz/
/baseline-sram-minver/
/baseline-sram-nbody/
/baseline-sram-ndes/
/baseline-sram-nettle-aes/
/baseline-sram-nettle-arcfour/
/baseline-sram-nettle-cast128/
/baseline-sram-nettle-des/
/baseline-sram-nettle-md5/
/baseline-sram-nettle-sha256/
/baseline-sram-newlib-exp/
/baseline-sram-newlib-log/
/baseline-sram-newlib-mod/
/baseline-sram-newlib-sqrt/
/baseline-sram-ns/
/baseline-sram-nsichneu/
/baseline-sram-picojpeg/
/baseline-sram-prime/
/baseline-sram-qrduino/
/baseline-sram-qsort/
/baseline-sram-qurt/
/baseline-sram-recursion/
/baseline-sram-rijndael/
/baseline-sram-select/
/baseline-sram-sglib-arraybinsearch/
/baseline-sram-sglib-arrayheapsort/
/baseline-sram-sglib-arrayquicksort/
/baseline-sram-sglib-dllist/
/baseline-sram-sglib-hashtable/
/baseline-sram-sglib-listinsertsort/
/baseline-sram-sglib-listsort/
/baseline-sram-sglib-queue/
/baseline-sram-sglib-rbtree/
/baseline-sram-slre/
/baseline-sram-sqrt/
/baseline-sram-st/
/baseline-sram-statemate/
/baseline-sram-stb_perlin/
/baseline-sram-stringsearch1/
/baseline-sram-strstr/
/baseline-sram-tarai/
/baseline-sram-trio-snprintf/
/baseline-sram-trio-sscanf/
/baseline-sram-ud/
/baseline-sram-whetstone/
/baseline-sram-wikisort/
/randezvous-aha-compress/
/randezvous-aha-mont64/
/randezvous-bs/
/randezvous-bubblesort/
/randezvous-cnt/
/randezvous-compress/
/randezvous-cover/
/randezvous-crc/
/randezvous-crc32/
/randezvous-ctl-stack/
/randezvous-ctl-string/
/randezvous-ctl-vector/
/randezvous-cubic/
/randezvous-dijkstra/
/randezvous-dtoa/
/randezvous-duff/
/randezvous-edn/
/randezvous-expint/
/randezvous-fac/
/randezvous-fasta/
/randezvous-fdct/
/randezvous-fibcall/
/randezvous-fir/
/randezvous-frac/
/randezvous-huffbench/
/randezvous-insertsort/
/randezvous-janne_complex/
/randezvous-jfdctint/
/randezvous-lcdnum/
/randezvous-levenshtein/
/randezvous-ludcmp/
/randezvous-matmult-float/
/randezvous-matmult-int/
/randezvous-mergesort/
/randezvous-miniz/
/randezvous-minver/
/randezvous-nbody/
/randezvous-ndes/
/randezvous-nettle-aes/
/randezvous-nettle-arcfour/
/randezvous-nettle-cast128/
/randezvous-nettle-des/
/randezvous-nettle-md5/
/randezvous-nettle-sha256/
/randezvous-newlib-exp/
/randezvous-newlib-log/
/randezvous-newlib-mod/
/randezvous-newlib-sqrt/
/randezvous-ns/
/randezvous-nsichneu/
/randezvous-picojpeg/
/randezvous-prime/
/randezvous-qrduino/
/randezvous-qsort/
/randezvous-qurt/
/randezvous-recursion/
/randezvous-rijndael/
/randezvous-select/
/randezvous-sglib-arraybinsearch/
/randezvous-sglib-arrayheapsort/
/randezvous-sglib-arrayquicksort/
/randezvous-sglib-dllist/
/randezvous-sglib-hashtable/
/randezvous-sglib-listinsertsort/
/randezvous-sglib-listsort/
/randezvous-sglib-queue/
/randezvous-sglib-rbtree/
/randezvous-slre/
/randezvous-sqrt/
/randezvous-st/
/randezvous-statemate/
/randezvous-stb_perlin/
/randezvous-stringsearch1/
/randezvous-strstr/
/randezvous-tarai/
/randezvous-trio-snprintf/
/randezvous-trio-sscanf/
/randezvous-ud/
/randezvous-whetstone/
/randezvous-wikisort/
/randezvous-sram-aha-compress/
/randezvous-sram-aha-mont64/
/randezvous-sram-bs/
/randezvous-sram-bubblesort/
/randezvous-sram-cnt/
/randezvous-sram-compress/
/randezvous-sram-cover/
/randezvous-sram-crc/
/randezvous-sram-crc32/
/randezvous-sram-ctl-stack/
/randezvous-sram-ctl-string/
/randezvous-sram-ctl-vector/
/randezvous-sram-cubic/
/randezvous-sram-dijkstra/
/randezvous-sram-dtoa/
/randezvous-sram-duff/
/randezvous-sram-edn/
/randezvous-sram-expint/
/randezvous-sram-fac/
/randezvous-sram-fasta/
/randezvous-sram-fdct/
/randezvous-sram-fibcall/
/randezvous-sram-fir/
/randezvous-sram-frac/
/randezvous-sram-huffbench/
/randezvous-sram-insertsort/
/randezvous-sram-janne_complex/
/randezvous-sram-jfdctint/
/randezvous-sram-lcdnum/
/randezvous-sram-levenshtein/
/randezvous-sram-ludcmp/
/randezvous-sram-matmult-float/
/randezvous-sram-matmult-int/
/randezvous-sram-mergesort/
/randezvous-sram-miniz/
/randezvous-sram-minver/
/randezvous-sram-nbody/
/randezvous-sram-ndes/
/randezvous-sram-nettle-aes/
/randezvous-sram-nettle-arcfour/
/randezvous-sram-nettle-cast128/
/randezvous-sram-nettle-des/
/randezvous-sram-nettle-md5/
/randezvous-sram-nettle-sha256/
/randezvous-sram-newlib-exp/
/randezvous-sram-newlib-log/
/randezvous-sram-newlib-mod/
/randezvous-sram-newlib-sqrt/
/randezvous-sram-ns/
/randezvous-sram-nsichneu/
/randezvous-sram-picojpeg/
/randezvous-sram-prime/
/randezvous-sram-qrduino/
/randezvous-sram-qsort/
/randezvous-sram-qurt/
/randezvous-sram-recursion/
/randezvous-sram-rijndael/
/randezvous-sram-select/
/randezvous-sram-sglib-arraybinsearch/
/randezvous-sram-sglib-arrayheapsort/
/randezvous-sram-sglib-arrayquicksort/
/randezvous-sram-sglib-dllist/
/randezvous-sram-sglib-hashtable/
/randezvous-sram-sglib-listinsertsort/
/randezvous-sram-sglib-listsort/
/randezvous-sram-sglib-queue/
/randezvous-sram-sglib-rbtree/
/randezvous-sram-slre/
/randezvous-sram-sqrt/
/randezvous-sram-st/
/randezvous-sram-statemate/
/randezvous-sram-stb_perlin/
/randezvous-sram-stringsearch1/
/randezvous-sram-strstr/
/randezvous-sram-tarai/
/randezvous-sram-trio-snprintf/
/randezvous-sram-trio-sscanf/
/randezvous-sram-ud/
/randezvous-sram-whetstone/
/randezvous-sram-wikisort/
